.formCard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #f4f4f4;
    align-items: center;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: visible;
  }
  
  .formCard h1 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .formCard h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .formCard .inputContainer {
    width: 80%;
  }
  
  .inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    
  }

.inputContainer input, 
.inputContainer button {
  width: 300px; /* Increase width */
  height: 50px; /* Increase height */
  font-size: 1.5rem;
}
  
  .inputFieldContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
    gap: 0.5rem; /* Space between input and error message */
    width: auto; /* Ensure the container takes full width */
  }
  
  .inputField {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .inputField:hover {
    transform: scale(1.02);
    border-color: #4caf50;
    border-width: 3px; /* Thicker border width */
    box-shadow: 0 2px 8px rgba(76, 175, 80, 0.4);
  }
  
  .inputError {
    border-color: red !important;
    border-width: 2px;
    box-shadow: 0 2px 8px rgba(255, 0, 0, 0.5);
  }
  
  .errorMessage {
    color: red;
    font-size: 1.2rem; /* Adjust font size as needed */
    margin-top: 0.25rem; /* Add some spacing from the input field */
    width: 100%; /* Take the full width of the parent container */
    position: static; /* Flow naturally below the input */
    text-align: center; /* Align the message to the left */
    word-wrap: break-word; /* Allow long text to wrap */
    
  }
  
  .submitButton {
    padding: 0.8rem 1.5rem;
    font-size: 1.5rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #388e3c;
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .submitButton:active {
    transform: scale(0.95);
    background-color: #2e7d32;
  }
  
/* ------------------------------------------------------------------------------*/
  /* Styles for 1024px width */
@media (max-width: 1024px) {
  /* Add your styles here for screens between 769px and 1024px width */
  .inputContainer {
    flex-wrap: wrap;
    gap: 2.5rem;
  }
  .inputFieldContainer {
    display: flex;
    flex-wrap: wrap;
  }
  
}

/* Styles for 768px width */
@media (max-width: 768px) {
  /* Add your styles here for screens between 426px and 768px width */
}

/* Styles for 425px width */
@media (max-width: 425px) {
  /* Add your styles here for screens between 376px and 425px width */
}

/* Styles for 375px width */
@media (max-width: 375px) {
  /* Add your styles here for screens between 321px and 375px width */
}

/* Styles for 320px width */
@media (max-width: 320px) {
  /* Add your styles here for screens 320px width and below */
  .formCard h1 {
    font-size: 2rem;
  }
  .inputFieldContainer{
    width: auto;
    
  }
  .inputFieldContainer input {
    font-size: 1rem;
  }

}
